<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sjs.dao.ShopMapper">
   <select id="selects" resultType="shopVO">
     select s.*,GROUP_CONCAT(g.name) as gnames from shop s LEFT JOIN middle m
      on s.id=m.sid LEFT JOIN goods g on m.gid=g.id
      <where>
      <if test="name!=null and name!=''">
         s.name like %'${name}'%
      </if>
      <if test="gids!=null and gids.length!=0">
            and g.id in
            <foreach collection="gids"  open="(" item="id" separator="," close=")">
            #{id}
            </foreach>
      </if>
      </where>
       GROUP BY s.id
   </select>
   <select id="getgoods" resultType="com.sjs.domain.Goods">
      select * from goods
   </select>
   <insert id="addt">
      insert into shop set name=#{name},created=#{created}
   </insert>
   <insert id="addtp">
      insert into goods set id=#{gid} 
   </insert>
</mapper>
